<div ng-app="bridgeApp" ng-controller="bridgeCtrl">

<!-- SERVICES / Start
=========================================== -->
<section id="services">
    <div class="container" style="padding-bottom: 30px">
        <!-- Title -->
        <div class="title">
            <div class="six columns" style="margin-top:50px">
                <center>
                    <img src="./images/think1.png" style="height:300px;"></center>
            </div>

            <div class="ten columns">
                <p class="three-lines" style="font-size:25px;padding-top: 30px"><b>Did you know, 96% of fresh
                    engineers are unemployable by tech companies!!<br>
                    Because,</b></p>
                <center>
                    <div class="lack"><p>Lack of in-depth knowledge of technolgy stack.</p></div><br>
                    <div class="lack2"><p>Zero practical experience.</p></div>
                </center>
            </div>
        </div>
    </div>
    <div class="answer" style="padding: 60px; background: url(images/sailing.jpg) no-repeat fixed;">
        <center>
            <img src="./images/ourAnswer.png" style="height:250px;">
        </center>
    </div>

    <div class="container">
        <!-- Title -->
        <div class="title">
            <h2>Fellowship</h2>
        </div>

        <div class="ten columns">
            <!--real-world Apps.</p><br>-->
            <div class="title_list" style="text-align: justify">
              <ul>
                <li>Work full-time for 3 or 4 Months on a well defined Tech Stack.</li>
                <li>Solve real-world Tech Problems.</li>
                <li>Mentoring by seasoned techies.</li>
                <li>Apply latest technologies, libraries, practices, modular coding on design
                    patterns, git repository, linux env, AWS cloud,etc to solve problems.
                </li>
                <li>Job with Tech Companies partnering with BridgeLabz.</li>
                <li>Learn to work hard - 6 days a week and 11 hours a day, putting around 70
                    hours a week for 3-4 months.</li>
              </ul>
            </div>
        </div>
        <br><br><br>

        <div>
            <div class="six columns">
                <div class="mobile-none">
                    <img src="./images/here.png" style="height:250px;padding-bottom: 50px;margin-left:70px">
                </div>
            </div>
            <a href="mailto:hello@bridgelabz.com?subject=Apply for Job" class="button" style="margin:auto;display: table">Apply</a>
        </div>
        <br>
    </div>
    </div>

    <div class="tech_stack">
        <div class="title">
            <h2>Technology Stack</h2>
        </div>
        <center>
            <img src="./images/123.png">
        </center>
    </div>
    <br><br>
</section>

<!-- SERVICES / End
=========================================== -->

<!-- ABOUT / Start
=========================================== -->
<section id="about">
    <div class="container">

        <!-- Title -->
        <div class="title">
            <h2>Mentor Team</h2>
        </div>
    </div>
    <br><br><br>

    <!-- Team -->
    <!--Directive call-->
    <ng-team></ng-team>

</section>
<!-- ABOUT / End
=========================================== -->
<!-- Fellows Past / Start
=========================================== -->
<section class="fellows">
    <div class="container">

        <!-- Title -->
        <div class="title">

            <h2>Fellows</h2>
           
        </div>
    </div>
     <p style="color:black;">Currently Working In Product Company</p>
    <!--Directive call-->
    <ng-fellow></ng-fellow>

    <div class="container">

        <!-- Title -->
        <div class="title">

            <h2>Fellows</h2>
           
        </div>
    </div>
     <p style="color:black;">Currently Working In BridgeLabz</p>
    <!--Directive call-->
    <ng-fellow1></ng-fellow1>
</section>
<!-- Fellows Past / End
=========================================== -->

<!-- Who we work with / Start
=========================================== -->
<section id="associates">

    <div class="container">
        <!-- Title -->
        <div class="title">

            <h2>Hiring Parteners</h2>
            <p>We are proud to be associated with these awesome tech companies.</p>

        </div>

    </div>
    <!--Directive call-->
    <ng-parteners></ng-parteners>


</section>

<!-- SERVICES / End
=========================================== -->
<!-- Work With Us
=========================================== -->
<section class="work">

    <article>
        <h4>Work With Us!</h4>
        <p>Would you like to be a part of BridgeLabs?</p>
        <a href="mailto:hello@bridgelabz.com?subject=Apply for job" class="button green">Contact</a>
    </article>

</section>


<!-- Contact / Srart
================================================== -->
<!--<section id="contact">-->
<!--<div class="container">-->

<!--&lt;!&ndash; Title &ndash;&gt;-->
<!--<div class="title clearfix">-->
<!--<div class="six columns">-->
<!--<h2>Contact</h2>-->
<!--</div>-->

<!--<div class="ten columns">-->
<!--<p class="two-lines">Do you have any questions? <br> Get in touch!</p>-->
<!--</div>-->
<!--</div>-->

<!--</div>-->

<!--<div class="grey">-->
<!--<div class="container">-->

<!--&lt;!&ndash; Contact Form &ndash;&gt;-->
<!--<div class="contact-form">-->

<!--<div class="sixteen columns">-->
<!--<div class="success-message">-->
<!--<p>Your message has been sent!</p>-->
<!--</div>-->
<!--</div>-->

<!--<form class="clearfix" method="post" action="contact.php">-->

<!--<div class="eight columns">-->

<!--<div class="field user">-->
<!--<input type="text" name="name" class="text" value="Name"-->
<!--onblur="if (this.value == '') {this.value = 'Name';}"-->
<!--onfocus="if (this.value == 'Name') {this.value = '';}"/>-->
<!--</div>-->

<!--<div class="field envelope">-->
<!--<input type="email" name="email" class="text" value="Email"-->
<!--onblur="if (this.value == '') {this.value = 'Email';}"-->
<!--onfocus="if (this.value == 'Email') {this.value = '';}"/>-->
<!--</div>-->

<!--<div class="field bulb">-->
<!--<input type="text" name="asubject" class="text" value="Subject"-->
<!--onblur="if (this.value == 'Subject') {this.value = '';}"-->
<!--onfocus="if (this.value == 'Subject') {this.value = '';}"/>-->
<!--</div>-->

<!--<div class="select money">-->
<!--<select name="budget" id="cd-dropdown" class="cd-select text">-->
<!--<option value="-1" selected>Who are you?</option>-->
<!--<option value="Tech">Tech Company</option>-->
<!--<option value="Fresh-Engineer">Fresh Engineer</option>-->
<!--<option value="Senior-Engineer">Senior Engineer</option>-->
<!--<option value="Seasoned-Professional">Seasoned Professional</option>-->

<!--</select>-->
<!--</div>-->

<!--</div>-->
<!--<div class="eight columns">-->

<!--<div class="field pen">-->
<!--<textarea name="message" class="text textarea"-->
<!--onblur="if (this.value == 'Message') {this.value = '';}"-->
<!--onfocus="if (this.value == 'Message') {this.value = '';}">Message</textarea>-->
<!--</div>-->

<!--<div class="field">-->
<!--<button id="send" class="send"><span aria-hidden="true" class="li_paperplane"></span>Submit-->
<!--</button>-->
<!--<div class="loading"></div>-->
<!--</div>-->

<!--</div>-->

<!--</form>-->
<!--</div>-->
<!--&lt;!&ndash; Contact Form / End &ndash;&gt;-->

<!--</div>-->
<!--</div>-->

<!--</section>-->
<!--<hr>-->

<!-- FAQ / Start
================================================== -->
<section id="FAQ">
    <div class="container">

        <!-- Title -->
        <div class="title">
            <h2>Engineers Fellowship Program's <br>Frequently Asked Questions</h2>
        </div>
        <div class="QA">

            <pb>Why fellowship program?</pb>
            <p><br>BridgeLabz fellowship program gives aspiring engineers the chance to develop
                in-depth knowledge in a well defined Tech Stack by developing real-world Apps
                and employment with Tech Companies.</p><br>

            <pb>What is fellowship program?</pb>
            <p><br>Fellowship Program is a 9 Month Program, 3 month at BridgeLabz and 6 month at
                Tech Companies. Post the 9 month the Engineers becomes the Employee of the Tech
                Company.
            </p>
            <p>In the first 3 months at BridgeLabz the Engineers work 11 hours (8.30AM - 7.30PM)
                a day and 6 days a week (Monday to Saturday). The Engineer is given a weekly chart
                and measured on the progress. First two weeks is essentially devoted to getting good
                understanding on Linux Env, Git Repository and writing around 50 Data Structure,
                Object Oriented and Algorithmic Programs. Then next couple of weeks the focus is
                gaining programing knowledge on any one tech stack (Android, iOS, Angular, Java or MEAN).
                Following this the next couple of weeks is to develop a full stack sample APP using open
                source libraries, standard coding practices, modular and structured coding on well defined
                design patterns, Cloud Connectivity, REST Calls, Offline Sync, Async Calls, Websockets,
                etc. The final 6 weeks is devoted for developing a real world app using the learnings
                from the sample app.
            </p><br>

            <pb>What is the minimum qualification needed to fellowship program?</pb>
            <p><br>All the candidates need to be Engineers, with minimum 60% Aggregate, and very
                comfortable in Coding on Data Structures.</p><br>

            <pb>Who will qualify for fellowship program?</pb>
            <p><br>We look for fresh engineers who are comfortable in coding. If they are comfortable
                in coding and also have some knowledge in any one of Android, iOS, Angular, Mean or
                Spring Hibernate Tech Stack, will qualify for fellowship program. </p><br>

            <pb>Will I get Paid for Fellowship Program?</pb>
            <p><br>All Engineers get a stipend of Rs 10,000 per month on the fellowship program of 9 months.
            </p><br>

            <pb>Is job with Tech Company Guaranteed?</pb>
            <p><br>All Engineers are enrolled into fellowship program only when the Tech Companies gives
                requirements to BridgeLabz to hire Fresh Engineers. </p><br>

            <pb>What is the benefit of doing Fellowship Program?</pb>
            <p><br>There are several benefits of fellowship program. For starter - job with Tech Company
                as the enrolment is done only when the Tech Company gives requirement, Second in-depth
                knowledge in a cutting edge Tech Stack, Third practical experience to develop cloud-aware
                App to solve real world problems using cutting edge technologies, open source libraries,
                modular and structured coding, Git Repository, etc.</p><br>

            <pb>Where is the program?</pb>
            <p><br>Fellowship program is currently in Mumbai. We have Fresh Engineers from all over
                India and also customers from all over India. We have tied up with PG Accomodations
                for the stay in Mumbai and the stipend paid is sustainable for boarding and lodging.</p><br>

            <pb> What are the work timings in BridgeLabz?</pb>
            <p><br>Monday to Saturday from 8.30 AM to 7.30 PM</p><br>

            <pb>What is a Fellowship Program with Practical Training?</pb>
            <p><br>The Engineers who require further one month Practical Training to qualify for
                fellowship program are inducted into this 4 month program. Essentially 1 month of
                practical training and 3 month of fellowship. </p><br>

            <pb> Why full time Fellowship with Practical Training is needed?</pb>
            <p><br>Essentially to serve those Engineers who already have good programming skills but
                need further grooming on data structure, algorithmic and object oriented programs.
                Also in practical training the engineers are introduced to one of the Tech Stacks to
                essentially give a solid start for their fellowship program. </p><br>

            <pb>What is the fee structure for Practical Training and will I get enrolled into
                fellowship program?
            </pb>
            <p><br>The Engineers get started with Practical Training by paying just Rs 5,000 initially
                and then the subsequent 3 month of fellowship, the Engineers will be paid Rs 5000 per
                month. After that the next 6 month of fellowship, the Engineers will be paid Rs 10,000
                per month. This implies the Engineers in Practical Training are auto selected to the
                fellowship program.</p><br>

            <pb> How is this program different from any other Training programs?</pb>
            <p><br>This program is a live lab where Engineer from day one is expected to code.
                There is no classroom and there is no curriculum. Through problem solving the concepts
                are learnt. Further the Engineer will focus and learn a Tech Stack in depth and also
                solve real world problem to develop a cloud-aware App. Lastly all Engineers in fellowship
                program have a job with Tech Company as they are enrolled only after the requirements
                are placed by the Tech Company</p><br>

            <pb>What happens to fellowship engineers after they graduate? What jobs do they get?</pb>
            <p><br>After the 3 month fellowship, the Engineers go on to work with the Tech Company
                that has signed Contract with BridgeLabz for the next 6 months. After this the Tech
                Company hires the Engineers into their roles.</p><br>

            <pb>What type of projects will the fellowship engineers get a chance to work on?</pb>
            <p><br>The fellowship engineers work on actual real world problem from the Tech Companies
                or the IPs being developed by BridgeLabz. The cloud-aware App development spans more
                than a month with direct interactions with the mentors. The goal is to deliver a product
                and not a project. We get industry visitors who share their Product World experiences
                with the fellowship engineers. </p><br>

            <pb>What does the day-to-day look like?</pb>
            <p><br>From morning 8.30 AM to 7.30 PM the fellowship engineers are expected to code. In
                the beginning it is data structures, later it is live sample app and lastly it is
                to develop App solving real-world problem statement. </p><br>

            <pb>What tools will fellowship engineers get a chance to learn?</pb>
            <p><br>Essentially the Tech Stack we work on are Android, iOS on Native, Web Apps on
                Angular and React, Backend Servers on Java, Spring, Hibernate and MEAN stack. All
                development is done on Linux Environment and for iOS in Mac Machine. We use Heroku
                and AWS Cloud. We use several other tech stacks like Redis for Caching and Messaging,
                MQTT for Push Notifications, Git Repository, Dagger for Dependency Injection, Retrofit,
                Volley & Alamofire for Networking Rest Calls, etc</p><br>

            <pb>What percentage of the fellowship is developing real-world apps?</pb>
            <p><br>100% of fellowship engineers will be involved in developing Cloud Aware
                Apps solving real world problems.</p><br>

            <pb> What kind of Tech Companies partner with BridgeLabz?</pb>
            <p><br>Most of the Tech Companies partnering with us are Product Companies. They
                are predominantly established Tech Companies and well funded Startups. Some of
                the Tech Companies that are partnering with us are CraftsVilla, Zopper, Clover
                Infotech, ValuePitch, Hexagon Global, GreyTip, Meru Cabs, Finacus Tech, TimesOfMoney,
                NextEducation, Hullo Inc, etc.
            </p><br><br>

        </div>

    </div>
</section>

<!-- Contact / Srart
================================================== -->
<section id="contact">
	<div class="container">

		<!-- Title -->
		<div class="title">
				<h2>Contact</h2>
				<p>Do you have any questions? Get in touch!</p>
		</div>
	</div>

	

	<div class="white">
		<div class="container">

			<!-- Contact Form -->
			<div class="contact-form" ng-controller="contactCtrl">

				<div class="sixteen columns">
					<div class="success-message">
						<p>Your message has been sent!</p>
					</div>
				</div>
 
				<form class="clearfix" name="userForm" id="myform1"  >

					<div class="eight columns">
                        
						<div class="field user">
							<input type="text" name="name" class="text" placeholder="Name" ng-model="name" required/>
                             <p ng-show="userForm.name.$invalid && !userForm.name.$pristine" class="help-block">You name is required.</p>
						</div>

						<div class="field envelope">
							<input type="email" name="email" class="text" placeholder="Email" ng-model="email" required/>
                            <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Enter a valid email.</p>
						</div>

						<div class="field bulb">
							<input type="text" name="subject" class="text" placeholder="Subject" ng-model="subject"/ required>
						</div>

						<div class="field user">
							<input type="text" name="profile" class="text" ng-model="profile" placeholder="Your Profile" required />
						</div>
						
					</div>

					<div class="eight columns">

						<div class="field pen">
							<textarea name="message" class="text textarea" ng-model="message" placeholder="Message"></textarea>
						</div>

						<div class="field"> 
							<button id="send" class="send" ng-click="submit()" ><span aria-hidden="true" class="li_paperplane"> </span>Submit</button>
							<div class="loading"></div>
						</div>

					</div>

				</form>
			</div>
			<!-- Contact Form / End -->

		</div>
	</div>

</section>

<!-- Contact / End
<!-- FAQ / End
================================================== -->

<!-- Footer / Srart
================================================== -->
<footer>

    <!-- Twitter Feed
    <div class="bluebg">
        <div class="container">
            <ul id="twitter-feed"></ul>
            <script type="text/javascript">
                jQuery(document).ready(function($){
                $.getJSON('get-tweets.php?url='+encodeURIComponent('statuses/user_timeline.json?screen_name=google&count=3'), function(tweets){
                    $("#twitter-feed").html(tz_format_twitter(tweets));
                }); });
            </script>
        </div>
    </div>
     -->
     <!-- Footer Contact Details -->
    <div class="contact-details">
        <img src="images/logo_w.png">
        <p><i class="icon-map-marker"></i> BridgeLabz Solutions LLP,
            #801, 8th Floor, Sai Samarth Business Park, </br>Deonar Village Road, near Govandi Station East, Mumbai -
            400088</br>
            <i class="icon-envelope-alt"></i>hello@bridgelabz.com</br>  <i class="icon-phone"></i> Tel: +917045948949
        </p>
        <ul class="socials bot">
            <li><a href="#"><i class="icon-twitter"></i></a></li>
            <li><a href="#"><i class="icon-facebook"></i></a></li>
            <li><a href="#"><i class="icon-linkedin"></i></a></li>
        </ul>
    </div>
    <center>
        <p style="color:white;"><a href="#" target="_blank"></a></p></center>

</footer>
<!-- Footer / End
================================================== -->


</div>

